h1{
	color: red;
}

#container{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.section{
	text-align: center;
}
.content{
	width: 100%;
}
.img-wrap{
	width: 50%;
	border-style: solid black;
}