h1{
	color: red;
}

#container{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.section{
	text-align: center;
	height: 350px;
}
.content{
	width: 100%;
}

.content p{
	width: 45%;
}
.img-wrap{
	width: 45%;
	border-style: solid;
	float: right;
	height: 300px
}